.blue-left {
  background-color: CornflowerBlue;
  width: 33vh;
  height: 100vh;
  float: left;
}

.teal-center {
  background-color: paleturquoise;
  width: 33vh;
  height: 100vh;
  float: left;
}

.green-right {
  background-color: PaleGreen;
  width: 33vh;
  height: 100vh;
  float: left;
}

.green-right img {
  width: 100%;
  position: relative;;
  bottom: 0px;
}

.green-top {
  height: 78%;
}

.green-bottom {
  height: 22%;
}
